body{
    background-color: aquamarine;
    font-family: "Times New Roman", serif;
    color:grey;
    text-align: right;
}
p{
    background-color: darkcyan;
    color:white;
    text-align: center;
}
img{
    border-radius: 50%;
    width: 550px;
    height: 330px;
}
figcaption{
    color:black;
    text-align: right;
}
fieldset{
    background-color: beige;
    width:550px;
    height: 300px;
    text-align: left;
}
.classe{
    text-align: center;
}
.imagem1{   
    margin-top:-1010px;
}